#BodyContainer > div > div.g960 > div > div.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.no_margin.g960.no_margin > div > div:nth-child(4) > div > div > div.widget_header > h5, #BodyContainer > div > div.g960 > div > div.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.no_margin.g960.no_margin > div > div.hp-row.hp_subscribe > div > div > div.widget_header > h5{
    text-transform: capitalize !important;
}
/*making some elements a different font*/
.widget-4 .bottom_padding, .cycle-caption :not(big, a){
    font-family: 'Roboto Slab', sans-serif !important;
    }
    .co_body .content .form-all, .co_body .content p, .co_body h1, .co_body h1 a, .co_body h2, .co_body h2 a, .co_body h3, .co_body h3 a, .co_body h4, .co_body h4 a, .co_body h5, .co_body h5 a, .co_body h6, .co_body h6 a, .cps-container h1, .cps-container h2, .cps-container p, .form-all, a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, html body.cco_body, html body.cco_body p, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, pre, q, ruby, s, samp, section, small, strike, strong, sub, summary, sup, table, tfoot, time, tt, u, ul, var, video{
font-family: 'Maven Pro', sans-serif !important;
text-transform:none !important;
}
/*donate buttons*/
#donate-wrapper main .amounts button{
    background: #67112A !important;
    color:#FFF !important;
}
/*making buttons round edges*/
.message .wrapper .widget_content .readMore, .hp-table .hp-row-first .promo_slider .slider .cycle-caption .readMore, .latest_photos .readMore span, body.cco_body #tabContentMain .co_menu_item.donate_link span.parent a, .hp-table>:not(:first-child) .promo_slider .cycle-caption .readMore {
    border-radius: 25px !important;
}
/* images roundish*/
.article_index_container .co_index.article_index .row .item .synopsis_icon, .article_index_container .co_index.article_index .row .item .title a:hover, .sneak-peek-container .sneak_peek .thumbnail, .sneak_peek a.thumbnail img, .sneak-peek-container .sneak_peek .widget_content h6:hover {
        border-radius:50px !important;
    }
    /*navigation bar*/
    .section_root #chabad_body_page #navBar, .section_root #chabad_body_page #navigation.chabad_navigator_bar{
        top:20px;
    }
    div#chabad_head .chabad_content_head{
        background-size:100%;
    }
    .section_root #chabad_body_page .chabad_content_head .chabad_titles .HeaderTitle{
        padding-top:200px !important;
    }
    .section_root #chabad_body_page .chabad_content_head .chabad_titles .HeaderTitle{
        font-size:38px !important;
    }
    div#chabad_head .chabad_navigator_bar ul#menu{
        justify-content:flex-end !important;
    }
    /*remove quick links*/
    #co_ads_container .co_local_menu{
        display:none !important;
    }
    .dir_ltr #co_ads_container{
        padding-top:40px !important;
    }

    /*mitzva mini site*/

    @media (max-width:992px){
        .section_root #chabad_body_page .chabad_content_head .chabad_titles .HeaderTitle{
            padding-top:50px !important;
        }
        }

        div#chabad_head .chabad_text_head{
            color:#FFF !important;
        }

        @media (min-width:992px){
            
        :not(html:has(meta[content*="Hebrew School - ChabadWestminster.com"])) div#chabad_head .NavButton{
            display:none ;
        }
        html:has(meta[content*="Hebrew School - ChabadWestminster.com"]) div#chabad_head .NavButton{
            right:-75px !important;
         }
    }
    body:not(.mobile) div#chabad_head .chabad_navigator_bar ul#menu, body:not(.mobile) div#chabad_head div#chabad_head #navBar ul#menu{
        margin-right:10% !important;
    }
    body.mobile .chabad_banner_content .chabad_text_banner{
        display:none !important;
    }
    @media (max-width:992px){
        #co_content_container .co_body img{
            object-fit: contain !important;
        }
        #chabad_left_colum > div:nth-child(3) > img,  #chabad_left_colum > div:nth-child(4) > img:nth-child(1){
            margin-bottom:-150px !important;
        }
    }
    